# Python artifacts
app/__pycache__
*.py[cod]
*.pyo
.python-version

# Virtual environments
.venv/
venv/

# Tooling/IDE
.direnv/
.vscode/
.idea/

# Nix build outputs
result
result-*

# OS noise
.DS_Store

# Containers
.cache
.local
.bash_history